
.ma
{
    font-size: small;
}

.small
{
    font-size: x-small;
}

.dark
{
	color: #424242;
}

span 
{
    font-size: small;
}

.validationError
{
    background-color: #FA4040;
    border-color: #FA4040;
}

div.tooltip 
{
    background-color: #0F0F0F;
    border: solid medium #404040;
    text-align: left;
    padding: 1px;
}

a.idlink
{
	font-size: small;
    text-decoration: none;
}

div.helpTooltip
{
    background-color: #FDFFD8;
    color: black;
    border: solid 1px black;
    text-align: left;
    cursor: default;
    padding: 3px;
}

div.helpTooltip > span
{
	font-family: Tahoma;
	font-size: 0.7em;
}

a.helpLink
{
    font-size: x-small;
    text-decoration: underline;
}

tr.noLinkUnderstrike a
{
	text-decoration: none;
}

tr.noLinkUnderstrike a.helpLink
{
    text-decoration: underline;
}

img.link
{
	border-width: 0px;
	padding-top: 1px;
	vertical-align: middle;
}

.message
{
	color: #FFDD55;
}

.bestiarBid
{
    color: #603030;
}

.maplusUpozorneni 
{
	font-size: x-small;
	color: red;
}

.nizkaSilaUtoku
{
	color: Red;
	font-weight: bold;
}

span.alianceNeznama
{
    font-style: italic;
    color: Gray;
}

span.kolo
{
	color: white;
}

tr.vybranaJednotka
{
    background-image: url("img/best_vyber.png");
    background-position: right top;
    background-repeat: repeat-y;
    -moz-background-size: 100% 100%; 
    background-size: 100% 100%;
}

/* FAQ */

#faq, #faq a, #faq div
{
	font-size: small;
}

#faq > ul
{
    list-style-type: disc;
}

#faq li
{
	margin: 2pt 2pt 10pt 2pt;
}

#faq li > a + div
{
    display: none;
    margin-bottom: 20pt;
}

#faq li > a.opened + div
{
    display: block;
}

#faq span.fakeLink
{
    text-decoration: underline;
}

#faq > span
{
    font-weight: bold; 
    clear: both;
}

/* Tabulky */

table.thinBorders
{
	empty-cells: show;
}

table.thinBorders > tbody > tr > td
{
    border-right-style: none;
    border-bottom-style: none;
}

table.thinBorders > tbody > tr > td:first-child
{
    border-left-style: none;
}

table.thinBorders > tbody > tr:first-child > td
{
    border-top-style: none;
}


/* Druh a typ */
.druhPoz { color: green; }
.druhLet { color: lightblue; }
.typBoj { color: orange; }
.typStr { color: lightyellow; }

/* Barvy phb */
.phb1 { color: WhiteSmoke; }
.phb2 { color: Yellow; }
.phb3 { color: Red; }

/* Barvy attributu */
.attr
{
    width: 20px;
    text-align: center;
}

.attr5 { background-color: #207020; }
.attr4 { background-color: #206020; }
.attr3 { background-color: #205020; }
.attr2 { background-color: #204020; }
.attr1 { background-color: #203020; }
.attr0 { background-color: #202020; }
.attr-1 { background-color: #302020; }
.attr-2 { background-color: #402020; }
.attr-3 { background-color: #502020; }
.attr-4 { background-color: #602020; }
.attr-5 { background-color: #702020; }

/* Styly zprav */

.zprava_dulezita { background-color: #700000; }
.zprava_dulezita_soukroma { background-color: #50C000; color: black; }
.zprava_bestiar { background-color: #013000; }
.zprava_spam { }
.zprava_spam_verejna { background-color: #160A31; }
.zprava_spam_tajna { background-color: #301010; }
.zprava_bug { background-color: #D3D300; color: black; }
.zprava_bug:hover { color: black; }

/* Nastaveni */
.tabHeader
{
    border-color: #2A2A2A;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    font-weight: bold;
}

.tabInactive
{
    color: lightgray;
    text-decoration: none;
}

.tabActive
{
    color: white;
    background-color: #202020;
    text-decoration: none;
}

.dialog
{
	background-color: black;
	border: solid 2px lightgray;
}
