
.ma
{
    font-size: small;
}

.small
{
    font-size: x-small;
}

.dark
{
	color: #424242;
}

span 
{
    font-size: small;
}

div.tooltip 
{
    background: #0F0F0F;
    border: solid medium #404040;
    text-align: left;
}

a.idlink
{
	font-size: small;
    text-decoration: none;
}

img.link
{
	border-width: 0px;
	padding-top: 1px;
	vertical-align: middle;
}

.message
{
	color: #FFDD55;
}

.bestiarBid
{
    color: #603030;
}

.maplusUpozorneni 
{
	font-size: x-small;
	color: red;
}

.nizkaSilaUtoku
{
	color: Red;
	font-weight: bold;
}

/* Druh a typ */
.druhPoz { color: green; }
.druhLet { color: lightblue; }
.typBoj { color: orange; }
.typStr { color: lightyellow; }

/* Barvy phb */
.phb1 { color: WhiteSmoke; }
.phb2 { color: Yellow; }
.phb3 { color: Red; }

/* Barvy attributu */
.attr
{
    width: 20px;
    text-align: center;
}

.attr5 { background-color: #207020; }
.attr4 { background-color: #206020; }
.attr3 { background-color: #205020; }
.attr2 { background-color: #204020; }
.attr1 { background-color: #203020; }
.attr0 { background-color: #202020; }
.attr-1 { background-color: #302020; }
.attr-2 { background-color: #402020; }
.attr-3 { background-color: #502020; }
.attr-4 { background-color: #602020; }
.attr-5 { background-color: #702020; }

/* Styly zprav */

.zprava_dulezita { background-color: #700000; }
.zprava_bestiar { background-color: #013000; }
.zprava_spam { }
.zprava_spam_verejna { background-color: #160A31; }
.zprava_spam_tajna { background-color: #301010; }

/* Nastaveni */
.tabHeader
{
    border-color: #2A2A2A;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    font-weight: bold;
}

.tabInactive
{
    color: lightgray;
    text-decoration: none;
}

.tabActive
{
    color: white;
    background-color: #202020;
    text-decoration: none;
}

.dialog
{
	background-color: black;
	border: solid 2px lightgray;
}
